@background-color-header: #10364b;
@background-color-logo: #ffffff;
@background-color-main: #ffffff;
@background-color-menu: #ffffff;
@background-color-body: #f5edeb; // Actually the footer color
@background-color-content: #ffffff;

@svg-color: '10364b';

@color-header: #ffffff;
@color-menu: #10364b;